<!DOCTYPE html>
<html ng-app=exercise>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Exercise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../vendor/foundation/css/normalize.css" rel="stylesheet">
        <link href="../vendor/foundation/css/foundation.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">

    </head>
    <body>
        <div class=row ng-controller='todo'>

          <h1>Things to learn about Angular</h1>
          <form>
            <label ng-model=titleGlob>Filter: <input type=search ng-model=filter></label>
          </form>
          <ul ng-controller=topicList>
            <p ng-show='topicList.length == 0'>You have nothing left to learn!</p>
            <li ng-repeat='topic in topicList | filter:titleMatch(titleGlob)'>
              {{ topic.title }}
            </li>
          </ul>
          <form ng-controller=addItem ng-submit='addItem(item)'>
            <h3>Add item to learn</h3>
            <input ng-model='item.title' required>
            <button>Create item</button>
          </form>

        </div>

        <script src="vendor/sinon.js"></script>
        <script src="vendor/fake-server.js"></script>

        <script>
          createFakeServer("topics");
        </script>

        <script src="../vendor/underscore.js"></script>
        <script src="../vendor/angular/angular.js"></script>
        <script src="../vendor/angular/angular-resource.js"></script>
        
        <script src="main.js"></script>
    </body>
</html>
