<!DOCTYPE html>
<html ng-app=exercise>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Exercise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../vendor/foundation/css/normalize.css" rel="stylesheet">
        <link href="../vendor/foundation/css/foundation.css" rel="stylesheet">

    </head>
    <body>


        <div ng-controller=user class=row>
          <h1>Using <code>scope.$watch()</code></h1>
          <div class='alert-box'>Have a play with the controls below while looking at the console. Write your own <code>$watch()</code> expressions.</div>

          <input ng-model='user.name'>

          <p>The user's name is {{ user.name }}</p>

          <button ng-click="user.list.push('a')">Append</button>
          <button ng-click="">Has an ng-click</button>
          <button ng-click="timeout()">ng-click calls function that uses $timeout</button>
        </div>

        <script src="../vendor/underscore.js"></script>
        <script src="../vendor/angular/angular.js"></script>
        <script src="main.js"></script>
    </body>
</html>
