<!DOCTYPE html>
<html ng-app=exercise>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Exercise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../vendor/foundation/css/normalize.css" rel="stylesheet">
        <link href="../vendor/foundation/css/foundation.css" rel="stylesheet">

        <link href="style.css" rel="stylesheet">

    </head>
    <body>

        <div ng-controller="orders" class=row>

          <h1>Bakery orders</h1>

          <div class=task>
            Your job is to finish the implementation of this simple order management system. It needs to be possible to add and remove orders.
          </div>
          
          <div ng-template='templates/user.html'></div>

          <div class=feed ng-controller=orderList class=orders>
            <h2>Feed</h2>
            <div class=task>Display orders to the user, and allow user to remove completed orders</div>
            <div ng-repeat='order in orders' class=order>
              {{ order.text }} 
              <button ng-click='orderDone($index)' class=small>Done</button>
            </div>
          </div>


          <div class=add-order ng-controller=addOrder>
            <h2>New order</h2>
            <div class=task>Allow the user to add orders via the below form, using directives and the addOrder controller.</div>
            <form ng-submit="addOrder(newOrder)">
              <label>
                Order text
                <input ng-model="newOrder.text" >
              </label>
              <button>Add order</button>
            </form>
          </div>

        </div>


        <script src="../vendor/underscore.js"></script>
        <script src="../vendor/angular/angular.js"></script>
        <script src="main.js"></script>
    </body>
</html>
