<!DOCTYPE html>
<html ng-app=exercise>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Exercise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../vendor/foundation/css/normalize.css" rel="stylesheet">
        <link href="../vendor/foundation/css/foundation.css" rel="stylesheet">

    </head>
    <body>
        <div class=row>

          <h3>Someone is trying out Angular, but the fabled data-binding isn't working. Can you help?</h3>
          <p class='alert-box alert'>Issue 1: only one count works</p>
          <p class='alert-box alert'>Issue 2: delayed increase doesn't work first time, then causes 'jumps' of &gt; 1 when the other button is pressed.</p>
          <p class='alert-box success'>Make sure you can see the issues described, then take a look and figure out what the cause could be &amp; try out your fix.</p>


          <div ng-controller=main>
            <p>Count is: {{count.counter}}</p>
						<div ng-if=true>
							<div ng-controller=child>
								<p>Count is: {{count.counter}}</p>
								<button ng-click=increment()>Increase</button>
								<button ng-click=delayedIncrement()>Delayed Increase</button>
							</div>
						</div>
          </div>
        </div>

        <script src="../vendor/underscore.js"></script>
        <script src="../vendor/angular/angular.js"></script>
        <script src="main.js"></script>
    </body>
</html>
