<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">  
    <title>AngularJS</title>
    <link rel="stylesheet" href="reveal/css/reveal.css">
    <!-- <link rel="stylesheet" href="reveal/css/print/pdf.css"> -->

    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="reveal/css/reveal.min.css">
    <link rel="stylesheet" href="reveal/lib/css/github.css">

    <link rel="stylesheet" href="slides-theme/style.css">
</head>

<body>

<div class="reveal">
<div class="slides">

<section data-markdown data-state="highlight"><script type="text/template">

  # AngularJS
  ![shield](img/angular-shield.svg)

</script>
</section>

<section data-markdown><script type="text/template">
  <h3 style='text-transform:inherit' contenteditable>wifi: ??? / ???</h3>
  <h3 contenteditable> clone/DL: github.com/timruffles/angular-js-class</h3>
</script>
</section>

<section data-markdown data-state=highlight><script type="text/template">
  
  # Today

  - Angular's ideology
  - Built-in directives
  - Controllers
  - Controller/view interaction: forms + filters
  - Services
  - Routing
  - Directives
  - HTTP
  - Testing

</script></section>

<section>


  <script type=code-sample code-sample>
    <div ng-controller=verb>
      <h2>HTML {{ verb }} for web apps!</h2>
      <input ng-model='verb'/>
    </div>
    <code class=controller>
      module.controller('verb',function($scope) {
        $scope.verb = "enhanced";
      })
    </code>
  </script>
  
</section>

<section>
  <script type=code-sample code-sample>
    <div ng-controller=repeat>
      <h2>Slide on ng, in ng</h2>
      <ul >
        <li ng-repeat='thought in thoughts'>
          {{ thought }}
          <a ng-click='remove(thought)'>X</a>
        </li>
      </ul>
    </div>
    <code class=controller>
      module.controller('repeat',function($scope) {
        $scope.thoughts = ["what the hell is 'ng-'","very concise","JS in HTML?!"];
        $scope.remove = function(thought) {
          $scope.thoughts.splice($scope.thoughts.indexOf(thought),1)
        };
      });
    </code>
  </script>
</section>

<section data-markdown><script type="text/template">
  
  ## Impression

  - data-binding
  - custom markup - like Dojo
  - very little Javascript (code example was complete)

</script></section>

<section data-state=title data-markdown><script type="text/template">
  ## Angular-ism
</script></section>

<section data-markdown><script type="text/template">
  ## Big HTML
  - make HTML a language fit for web-apps
</script></section>
<section data-markdown><script type="text/template">
  ## Radical testability
  - no code left behind
  - make code ask for its dependencies, so we can fake it easily in tests
</script></section>
<section data-markdown><script type="text/template">
  ## 'Give us back Javascript'
  - plain JS where possible
  - watch changes in your plain JS data
</script></section>

<section data-markdown><script type="text/template">
  ## Angular-ism manifesto
  - Big HTML
  - 100% testable
  - 'just JS' for models
</script></section>

<section data-state=title data-markdown><script type="text/template">
  ## MVC
</script></section>

<section data-markdown><script type="text/template">
  ## Identify common responsibilities
</script></section>

<section data-markdown><script type="text/template">
  ## Each bit of code specialises
</script></section>

<section data-markdown><script type="text/template">
  ## Model
  - what your app does for users
</script></section>
<section data-markdown><script type="text/template">
  ## View
  - interactive representation of model
</script></section>
<section data-markdown><script type="text/template">
  ## Controller
  - glue
  - exposes commands to view that modify model
</script></section>

<section data-markdown><script type="text/template">
  ## Biggest idea
  - separate what your app does/is: model, how: view + controller
  - and keep going: separate how you persist model from model... etc
</script></section>

<section data-markdown><script type="text/template">
  ## MVC
  - model: your model of problem domain
  - view: presentation & controls
  - controller: glue, commands
</script></section>

<section data-state=title data-markdown><script type="text/template">
  ## Angular's MVC
</script></section>

<section data-markdown><script type="text/template">
  ## Model
  - your Javascript, watched by Angular

  ```javascript
  // plain ol' data
  var players = [{id:1,score: 10},{id:2, score:20}];
  ```

  ```javascript
  // or any object style you fancy
  function BankAccount(balance) {
    this._balance = balance;
  }

  BankAccount.prototype.withdraw = function(amount) {
    // ...
  }
  ```
</script></section>
<section data-markdown><script type="text/template">
  ## View
  -  HTML extended via directives
  - e.g `ng-repeat`
  - data-binding
  - filters: transform model

</script></section>
<section data-markdown><script type="text/template">
  ## Controller
  - Javascript to glue views to models

  ```javascript
  module.controller('repeat',function($scope) {

    $scope.thoughts = ["ng - WTH?","bit magic","expressive"];

    $scope.remove = function(thought) {
      $scope.thoughts.splice($scope.thoughts.indexOf(thought),1)
    };

  });
  ```

</script></section>

<section>

  <h2>Angular M, V & C</h2>

  <script type=code-sample code-sample>
    <div ng-controller=clicking>
      <button ng-click=clicked()>Click me</button>
      <p>You've clicked the button {{counter.clicks}} times.</p>
    </div>
    <code class=controller>
      module.controller('clicking',function($scope) {
        $scope.counter = {clicks: 0};
        $scope.clicked = function() {
          $scope.counter.clicks += 1;
        }
      })
    </code>
  </script>

</section>

<section data-markdown><script type="text/template">
  ## Angular WVC
  - model: whatever
  - view: directives and templates
  - controller: `controller()`, `scope`
</script></section>

<section data-state=title data-markdown><script type="text/template">
  ## Angular's APIs
</script></section>

<section>
  <h2>The plan</h2>
  <ul>
    <li>Directives - see something
    <li>Controllers &amp; scopes - get data/behaviour into it
    <li>Module system - enabling testing
    <li>Routes and HTTP
    <li>Testing - testing all of the above
  </ul>
</section>


<section data-markdown data-state=title><script type="text/template">
  ## Built in directives
</script></section>

<section data-markdown><script type="text/template">
  ## Not the kitchen sink

  - Angular defines a core set of directives
  - Directives are the view in Angular's MVW
</script></section>

<section data-markdown><script type="text/template">
  ## How to use directives

  - picked up via HTML element attributes or tag names
  - use Angular expressions to bind data from the scope to attributes

</script></section>

<section>
  <h2>e.g <code>ng-repeat</code></h2>

  <script type=code-sample code-sample>
    <ul ng-init='stepsForDirectives = ["choose directive","insert into HTML","configure via attributes, potentially bound to scope"]'>
      <li ng-repeat='step in stepsForDirectives'>
        {{ step }}
      </li>
    </ul>
  </script>

</section>

<section>
  <h2>e.g <code>ng-click</code></h2>

  <script type=code-sample code-sample>
    <div ng-controller=clicking>
      <p>{{ counter.clicks }}</p>
      <button ng-click=clicked()>Click me</button>
    </div>
  </script>
  <pre><code>module.controller('clicking',function($scope) {
  $scope.counter = {clicks: 0};
  $scope.clicked = function() {
    $scope.counter.clicks += 1;
  }
})
  </code></pre>

</section>

<section>
  <h2>e.g <code>ng-show</code></h2>

  <script type=code-sample code-sample>
    <div ng-controller=show>
      <p ng-show=content.visible>{{ content.text }}</p>
      <button ng-click=toggle()>Click me</button>
    </div>
    <code class=controller>
      module.controller('show',function($scope) {
        $scope.content = {visible: true, text: "Now you see me"};
        $scope.toggle = function() {
          $scope.content.visible = !$scope.content.visible;
        }
      });
    </code>
  </script>

</section>

<section data-markdown><script type="text/template">
  
  ## Built-in highlights

  - `ng-hide`, `ng-show`, `ng-if`: control visibility or presence of HTML via expression
  - `ng-include` include HTML code and compile it
  - `ng-class`, `ng-style`, `ng-attributes`: control classnames, style and attrs via expressions

</script></section>

<section data-markdown data-state=highlight><script type="text/template">
  
  # Let's use them!

  - exercises/using-built-in-directives

</script></section>

<section data-markdown data-state=title><script type="text/template">
  ## Controllers
</script></section>

<section data-markdown><script type="text/template">
  
  ## Controller

  - glue between models, other code, and view
  - has access to scope, not DOM

</script></section>

<section data-markdown><script type="text/template">
  ## Controller example

  - here, we've written a method for view to call:

  ```
  module.controller('clicking',function($scope) {
    $scope.user = {clicks: 0};
    $scope.clicked = function() {
      $scope.user.clicks += 1;
    }
  })
  ```

</script></section>

<section data-markdown><script type="text/template">
  
  ## Controllers DO

  - define functions for view to invoke
  - call methods on model/other code

</script></section>

<section data-markdown><script type="text/template">
  
  ## Controllers DON'T

  - talk to (or know about) the DOM
  - perform view responsibilities: formatting etc

</script></section>

<section data-markdown><script type="text/template">
  ## Orchestrating controllers
</script></section>

<section data-markdown><script type="text/template">
  
  ## Controllers get scopes

  - each `ng-controller` directive creates a new scope
  - scope is a child of current scope

</script></section>

<section data-markdown><script type="text/template">
  ## Use scopes to organise data/behaviour
</script></section>

<section data-markdown><script type="text/template">
  
  ## Scope hierarchy

<script type='codeExample' code-example>
  <!-- outer scope starts -->
  <div ng-controller='outer'>
    <p>You've clicked {{ user.count }} times</p>
    <!-- inner scope starts -->
    <div ng-controller='inner'>
      <button ng-click='user.count += 1'>Increase</button>
    </div>
  </div>
</script>

</script></section>

<section data-markdown><script type="text/template">
  ## Other directives can create scopes too

  <script type='codeExample' code-example>
    <div ng-controller='outer'>
      <a ng-repeat='user in userList'>
        <!-- a new scope for every user, so
             'user' refers to the right thing -->
        {{ user.name }}
      </a>
    </div>
  </script>

</script></section>

<section data-markdown data-state=highlight><script type="text/template">
  
  # Let's have a go!

  - exercises/controllers-scopes

</script></section>

<section data-markdown><script type="text/template">
  
  ## Keeping scopes neat

  - identifying which controller owns a method on scope can be confusing
  - use `UserCtrl as userCtrl` syntax
  - publishes the controller on the scope

<script type='codeExample' code-example>
  <div ng-controller='OuterCtrl as outer'>
    <div ng-controller='InnerCtrl as innner'>
      <button ng-click='outer.increase()'>Increase</button>
    </div>
  </div>
</script>

</script></section>


<section data-markdown><script type="text/template">
  
  ## Controller methods

  - controllers are created via `new`
  - either define in constructor on `this` or use `prototype`

  ```javascript
  function UserCtrl($scope, User) {
    this.signup = function(formData) {
      User.signup(formData);
    }
  }
  ```

  ```javascript
  function UserCtrl($scope, User) {
    this.User = User;
  }

  UserCtrl.prototype.signup = function(formData) {
    this.User.signup(formData);
  }
  ```

</script></section>


<section data-markdown><script type="text/template">
  
  ## in constructor

  ```javascript
  function UserCtrl($scope, User) {
    this.signup = function(formData) {
      User.signup(formData);
    }
  }
  ```

</script></section>


<section data-markdown><script type="text/template">
  
  ## via prototype

  ```javascript
  function UserCtrl($scope, User) {
    this.User = User;
  }

  UserCtrl.prototype.signup = function(formData) {
    this.User.signup(formData);
  }
  ```

</script></section>

<section data-markdown><script type="text/template">
  ## Pros/cons

  - in constructor: easy access to services
  - prototype: efficiency if you'll have 100s of instances
</script></section>

<section data-markdown><script type="text/template">
  ## If controllers don't perform view logic, where does it live?
</script></section>

<section data-markdown><script type="text/template">
  ## Filters and directives
</script></section>

<section data-markdown data-state=title><script type="text/template">
  ## Filters
</script></section>

<section>
  
  <h2>Filters</h2>

  <ul>
  <li>quick, declarative transformation of output
  <li>works with data-binding
  <li>pure: take data in, return new version
  </ul>

  <script type=cs code-sample>
    <p>Unfiltered: '{{val}}', filtered: '{{val|uppercase}}'</p>
    <input ng-model=val ng-init='val = "foo"'>
  </script>

</section>


<section data-markdown><script type="text/template">
  ## Filters available

  - lots of built ins
  - take arguments separated by `:`

  <script type=cs code-example>
    Tax {{ item.tax | number:0 }}
    Price {{ item.price | currency }}
    Get it by {{ item.deliverableBy | date:'shortDate' }}
    Locations {{ item.locations | limitTo:5 }}
    Delivery options {{ item.options | orderBy:"-price" }}
  </script>
</script></section>

<section data-markdown><script type="text/template">
  ## Array filtering

  - if `textFilter` is a string it'll be matched vs all props in user
  - if it's a function, it'll be called on each user
  - if it's an object, it'll have its properties matched

  <script type=cs code-sample>
    <li ng-repeat="user in users | filter:textFilter">
      <p>{{user.name}}</p>
      <p>{{user.email}}</p>
    </li>
  </script></section>
</script></section>


<section data-markdown><script type="text/template">
  ## Forms
</script></section>

<section data-markdown><script type="text/template">
  
  ## Forms

  - view: input widgets
  - controller: handle submission

</script></section>

<section data-markdown><script type="text/template">
  
  ## Directives involved

  - `form` - like `a` it's an element directive
  - `ng-submit`
  - `ng-model`
  - `input`

</script></section>

<section data-markdown><script type="text/template">
  
  ## Simple form

  - creates `scope.signupForm` with the form object
  - will assign to `user` object on scope
  - ng shims most HTML5 validators

  <script type=cs code-example>
    <form name=signupForm ng-submit=signup()>
      <input name=username ng-model=user.name required>
      <input name=password type=passsword
             ng-model=user.password required>
      <button>Buy</button>
    </form>
  </script>

</script></section>

<section data-markdown><script type="text/template">
  
  ## `form`

  - sets `scope[name]` on scope to an object representing form
  - object has state properties: `$valid`/`$invalid`, `$pristine`/`$dirty` etc

  <script type=cs code-example>
    <form name=userForm>
    </form>
  </script>

</script></section>

<section data-markdown><script type="text/template">
  
  ## inputs

  - form object has a property per named input
  - also have state properties
  - `userForm.username.$pristine`

  <script type=cs code-example>
    <form name=userForm>
      <input name=username>
    </form>
  </script>

</script></section>

<section data-markdown><script type="text/template">
  
  ## Validation

  - Angular shims most of HTML5 validations
  - state properties on form/inputs allow you to control input

</script></section>


<section data-markdown><script type="text/template">
  
  ## Styling

  - `ng-valid`, `ng-pristine` etc added a CSS classes
  - this goes for forms and inputs

</script></section>

<section data-markdown><script type="text/template">
  
  ## Together

  <script type=cs code-example>
    <form name=signupForm ng-submit=signup()>
      <input name=username ng-model=user.name required>
      <input name=password type=passsword
             ng-model=user.password required>
      <button ng-disabled=signupForm.$invalid>
        Buy
      </button>
    </form>
  </script>

</script></section>

<section data-markdown data-state=highlight><script type="text/template">
  
  # Let's try that out

  - exercises/forms

</script></section>

<section data-markdown><script type="text/template">
  
  ## Advanced forms

  - custom inputs: `ngModelController`
  - anything you need to parse/format values
  - e.g for a date input
  - `ng-model-options`: more control over when/how value updated

</script></section>


<section data-state=title data-markdown><script type="text/template">
  ## Services, and modules
</script></section>

<section data-markdown><script type="text/template">
  ## What on earth is a service?
</script></section>

<section data-markdown><script type="text/template">
  ## A service is...
  - some code
  - THAT IS ALL!!!
</script></section>

<section data-markdown><script type="text/template">
  ## e.g Three 'services'

  ```javascript
  var NUMBER_OF_ROWS_TO_DISPLAY = 10;
  
  $.ajax = function() { /**/ };

  function User(name) {
    this._name = name;
  }
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## Services changes one thing...
</script></section>

<section data-markdown><script type="text/template">
  ## How one bit of code accesses another
</script></section>

<section data-markdown><script type="text/template">
  
  ## Dependency injection

  - How can we intercept `new Date` below?
  - We can't, so we'd like to get the dependency in programmatically
  - Not everything makes sense to put in constructor

  ```
  function SomeObject() {
  }
  SomeObject.prototype.update = function() {
    var someDate = new Date()
  }
  ```

</script></section>

<section data-markdown><script type="text/template">
  ## Services live in modules
</script></section>

<section data-markdown><script type="text/template">
  
  ## `angular` <br> `.module()`

  - Angular's modules group related functionality
  - *not* a module-*loader*, like RequireJS, but a module *system*

</script></section>

<section data-markdown><script type="text/template">
  
  ## Bootstrapping

  - angular is bootstrapped by `ng-app="someModule"`, or `angular.bootstrap(someElement,["someModule"])`,
  - passing the modules that define controllers etc found on elements

</script></section>

<section data-markdown><script type="text/template">
  ## Define services with...
</script></section>

<section data-markdown><script type="text/template">
  
  ## `factory()`

  - `factory`: return value is your service

  ```javascript
  app.factory("tracking", function($http /*, other deps */) {
    return {
      event: function(name) {
        $http.post("/api/events", { event: name });
      }
    }
  })
  ```

  ```javascript
  app.factory("User",function(tracking) {
    // in some module code
    //...
    tracking.event("signup")
  })
  ```
  
</script></section>

<section data-markdown><script type="text/template">
  ## So: move code, define dependencies
</script></section>

<section data-markdown><script type="text/template">
  ## Before
  ```javascript
  function User() {
  }

  User.prototype.signup = function() {
    // we've accessed our deps via global scope
    tracking.event("signup");
  }
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## After
  ```javascript
  // we get our deps from ng module system,
  // not global
  app.factory("User",function(tracking) {

    // plain ol' JS code, nothing to do with angular
    // between here and...
    function User() {
    }

    User.prototype.signup = function() {
      //...
      tracking.event("signup");
    }
    // ...here

    // we just return what would previously be
    // on global
    return User;
  })
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## Other methods to define services

  - `service`: factory fn called with `new`
  - `value`: for services without dependencies
  - `provider`: for services with config
  - `factory` vs `service`: syntax or semantics?
</script></section>

<section data-markdown><script type="text/template">
  
  ## How does the magic work?

  - how does Angular know to give right module?

</script></section>

<section data-markdown><script type="text/template">
  
  ## REGEX

  - parses our function as a string
  - minification breaks: transform in build with tools like `ng-annotate`

  ```
  var hasDeps = function($log) {}
  var src = hasDeps.toString() // function($log) {}
  var deps = depsRexp.exec(src) // [..., "$log"]
  ```
  ```
  // will minify to "function(a) {}", but will still work!
  var hasDeps = function($log) {}
  hasDeps.$inject = ['$log']
  ```

</script></section>


<section data-markdown><script type="text/template">
  
  ## Service implementations

  - multiple implementations of same service
  - switch at built-time
  - or `.provide` and config methods to config at startup

  ```javascript
  angular.module('LocalStorage').factory("storage", ls);
  angular.module('RemoteStorage').factory("storage", rs);
  ```

</script></section>


<section data-markdown><script type="text/template">
  ## We've covered

  - the big ideas of Angular
  - controllers
  - scopes
  - built-in directives
</script></section>


<section data-markdown><script type="text/template">
  ## We're ready for the big time!
</script></section>

<section data-markdown data-state=highlight><script type="text/template">
  
  ## A more complete example

  - exercises/crud-mvc

</script></section>

<section data-markdown data-state=title><script type="text/template">
  
  ## This is a web app, so...

</script></section>

<section data-markdown data-state=title><script type="text/template">
  
  ## ...what about URLs?

</script></section>


<section data-markdown><script type="text/template">
  ## Routes
</script></section>

<section>
<h2>A... module</h2>

<ul>
  <li>not in core, so we need to include
  <li>gives us lots of services
</ul>

<pre>
<code>&lt;script src='vendor/angular/angular-routes.js'>&lt;/script>
</code>
</pre>

<pre><code>var ourModule = angular.module("ourModule",["ngRoute"]);</code></pre>

</section>

<section data-markdown><script type="text/template">
  ## Many parts, but all simple
</script></section>

<section data-markdown><script type="text/template">
  - trio of services - `location`, `route`, `routeParams`
  - one directive: `ng-view` where content appears
</script></section>

<section data-markdown><script type="text/template">
  we define routes via `$routeProvider`
</script></section>

<section data-markdown><script type="text/template">
  
  ## `routeProvider`

  ```
  app.config(function($routeProvider) {
    $routeProvider
      .when("/item/:id",{
        templateUrl: "/tpls/show.html",
        controller: "showCtrl"
      })
      // ... more roots
  });
  ```

</script></section>

<section data-markdown><script type="text/template">
  ## `routeProvider`

  - very powerful
  - e.g can be given promises for dependencies required

</script></section>

<section data-markdown><script type="text/template">
  ## Template

  - either `template` for a HTML string/function returning HTML string
  - or `templateUrl` for a URL to get an HTML string
</script></section>

<section data-markdown><script type="text/template">
  ## Script-tag

  - hack: if there's a script tag with `id == templateUrl`, it'll use that
  - we'll need that as we're on a `file://` url

  <code style="white-space: pre; font-size: 1.5rem;">
  &lt;script type='text/ng-template' id='some-template.html'>
    &lt;h1>Woohoo I can write HTML&lt;/h1>
    &lt;p>Outside of JS&lt;/p>
  &lt;/script>
  </code>


<section data-markdown><script type="text/template">
  we control how URL works via `$locationProvider` (e.g pushState or hash)
</script></section>

<section data-markdown><script type="text/template">
  
  ## `location`

  ```
  app.config(function($locationProvider) {
    $locationProvider.html5Mode(true);
  });
  ```

</script></section>

<section data-markdown><script type="text/template">
  ## No push state for us...
  - we're on a `file://` url
  - feel free to run a server if you have one

  ```sh
  python -m SimpleHTTPServer
  php -S localhost:1234
  ```
</script></section>

<section data-markdown><script type="text/template">
  our controllers can see route's params via `$routeParams`
</script></section>

<section data-markdown><script type="text/template">
  
  ## `routeParams`

  ```
  $routeProvider
  .when("/item/:id",{
    templateUrl: "/tpls/show.html",
    controller: "showCtrl"
  })
  ```

  - How do we access params?

  ```
  app.controller("showCtrl",function($scope,$routeParams) {
    // use any params defined in route config
    // from url '/item/:id'
    var itemId = $routeParams.id
  })

  ```

</script></section>

<section data-markdown><script type="text/template">
  ## If there's only one controller for a template...
  - just put it in the template
</script></section>



<section data-markdown data-state=highlight><script type="text/template">
  
  # Let's use them

  - exercises/routes

</script></section>


<section data-markdown data-state=title><script type="text/template">
  
  ## Directives


</script></section>

<section  data-markdown><script type="text/template">
  
  ## Directives

  - Extend the DOM
  - As simple as preventing default click-behaviour on `a href=''`...
  - ...to whole new widgets, with their own hierarchy of controllers

</script></section>


<section data-markdown><script type="text/template">
  
  ## Directives in DOM

  - invoked many ways: tag names (IE9+), classes, attributes, etc
  - lock down triggers per directive via `restrict:` (defaults to attribute)
  - e.g `a` directive only available as element name, so augments all `a`s
  - so `myDirective` could be invoked via

  <script type=cs code-example>
  <my-directive></my-directive>
  <div my-directive></div>
  <div class="my-directive"></div>
  <div data-my-directive></div>
  </script>

</script></section>


<section data-markdown><script type="text/template">
  
  ## Directives in Angular

  - All the cool bits are from directives
  - `ngRepeat`, `ngInclude`, `ngClick` etc all directives
  - So no magic: all tools available to `ng` is available to you

</script></section>


<section data-markdown><script type="text/template">
  
  ## Defining

  - defined on modules as normal
  - return either a config object, or just fn to link to element

</script></section>

<section data-markdown><script type="text/template">
  
  ## Define example

  ```javascript
  app.directive("someName",function($location /* injected */) {
    return function(scope,el,attrs) {
    }
  });

  // short for
  app.directive("someName",function($location /* injected */) {
    return {
      link: function(scope,el,attrs) {
      }
    }
  });
  ```

</script></section>


<section data-markdown><script type="text/template">
  
  ## Linking function

  - positional arguments, not DI (use the containing function for that)

  ```javascript
  function link(scope, el, attrs) {
  }
  ```

</script></section>


<section data-markdown><script type="text/template">
  ## `scope`

  - the scope the element is in

  ```javascript
  function link(scope, el, attrs) {
    scope.someProperty = "hello";
  }
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## `el`

  - the element wrapped in `angular.element()`

  ```javascript
  function link(scope, el, attrs) {
    el.addClass("hello");
  }
  ```
</script></section>


<section data-markdown><script type="text/template">
  ## `angular`<br>`.element()`

  - jqLite by default - a subset of jQuery API
  - include jQuery, it automagically becomes jQuery!

</script></section>

<section data-markdown><script type="text/template">
  ## `attrs`

  - normalised attribute names, e.g `some-attr` -> `someAttr`
  - methods: `$set('normalisedName', value)` etc

  ```javascript
  function link(scope, el, attrs) {
    // from...
    // some:attr some-attr data-some-attr x-some-attr
    var attr = attrs.someAttr;
  }
  ```
</script></section>

<section data-markdown><script type="text/template">
  
  ## Let's write one

  - execises/first-directive

</script></section>


<section data-markdown><script type="text/template">
  
  ## Templates

  - can specify via `template` for a template string, or `templateUrl`
  - pass `replace: true` to replace the current element with the template

</script></section>

<section data-state=title data-markdown><script type="text/template">
  ## AJAX
</script></section>

<section data-markdown><script type="text/template">
  ## `$http` - pretty well `$.ajax`

  - extra methods on promise: `success`, `error`
  - more arguments than `then` gives callbacks

  ```javascript
  $http({method: 'GET', url: '/someUrl'})
    .success(function(data, status, headers, config) {
    })
    .error(function(data, status, headers, config) {
    });
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## `$http`

  - mostly useful due to mockability via `$httpBackend`
  - probably all you need: all common HTTP verbs, `jsonp`
</script></section>


<section data-markdown><script type="text/template">
  
  ## `$resource`

  - boiler-plate reduction for HTTP APIs
  - one of the many flavours of REST by default

</script></section>

<section data-markdown><script type="text/template">

  ## Creating instances

  - gives you a constructor for instances

  ```javascript
  $scope.user = new User()

  $scope.user.id = 15
  $scope.user.$get(); // will fetch data
  ```

</script></section>

<section data-markdown><script type="text/template">
  
  ## `isArray` methods like query

  - return empty instances - `[]` - for easy data-binding

  ```
  $scope.users = Users.query()
  // can now use in 'ng-repeat="user in users"'
  ```

</script></section>

<section data-markdown><script type="text/template">
  
  ## `$resource` configuration

  - configure a specific `$resource`
  - can do lower-level config via same params as `$http`


</script></section>

<section data-markdown><script type="text/template">
  ```javascript
  var User = $resource("/api/user/:id",
    // parameter defaults - use @xx to take xx attribute of resource
    {
      id: '@id'
    },
    // extra methods
    {
      'query':  {method:'GET', isArray:true, url: "/api/users"},
      'create': {method:'POST', url: "/api/users"},
    });
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## Using HTTP

  - exercises/http
</script></section>

<section data-markdown data-state=title><script type="text/template">
  ## Testing
</script></section>

<section data-markdown><script type="text/template">
  
  ## Testing: tools

  - test framework: e.g mocha, Jasmine
  - test server/runner: e.g Karma, buster
  - assertions: e.g chai, referree

</script></section>

<section data-markdown><script type="text/template">
  ## For today
  - Jasmine, test framework, runner and assertions
  - BDD style for assertions and suite
</script></section>

<section data-markdown><script type="text/template">
  ## What does Angular change?
</script></section>

<section data-markdown><script type="text/template">
  ## How we wrap our code
</script></section>

<section data-markdown><script type="text/template">
  ## So... how do we unwrap it?
</script></section>

<section data-markdown><script type="text/template">
  
  ## `module()`

  - sets up injector to include module(s)

  ```javascript
  // set injector to use 'app' module
  beforeEach(module("app"))
  ```


</script></section>

<section data-markdown><script type="text/template">
  
  ## `inject()`

  - runs function with dependencies taken from module(s)
  - standard DI

  ```javascript
  // we wrap our test functions with 'inject()'
  // to give us access to code for testing
  it("logs", inject(function($log) {

    $log.log("hello logging service!");
    // assertions etc

  }));
  ```

</script></section>

<section data-markdown><script type="text/template">
  ## Major benefit of DI: easy fake services
</script></section>

<section data-markdown><script type="text/template">
  
  ## Faking

  ```
  module("app",function($provide) {
  
    // here we use $provide just like our module
    // allowing us to override services
    $provide.value("$log", {
      log: logSpy
    });

  })
  ```

</script></section>

<section data-markdown><script type="text/template">
  ## Two reason to fake services
</script></section>

<section data-markdown><script type="text/template">
  ## Mocking or stubbing
</script></section>

<section data-markdown><script type="text/template">
  ## Mocks: function voyeurism

  ```javascript
  var spy = Jasmine.createSpy("spyName");
  spy("Howdy!!!");

  // fails
  expect(spy).toHaveBeenCalledWith("hello");
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## Mocks: asserting call behaviour
</script></section>

<section data-markdown><script type="text/template">
  ## Stubs

  - support unit test by faking method responses

  ```javascript
  function simpleCode(getAnswerFromTelescope) {
    var number = getAnswerFromTelescope();
    // we just want to test this bit
    return number + 1;
  }

  function stubbedTelescope() {
    // we just return canned data, rather
    // than doing something slow/non-deterministic
    return 1;
  }

  expect(simpleCode(stubbedTelescope)).toBe(2)
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## Mocks are tests, stubs support tests
</script></section>

<section data-markdown><script type="text/template">
  ## Both are fakes
</script></section>

<section data-markdown><script type="text/template">
  
  ## Let's test drive something

  - implement a tracking system
  - `event(eventName)` counts the number of times its invoked with a given event
  - `save()` fires a `HTTP POST` with the currently tracked events

</script></section>

<section data-markdown><script type="text/template">
  ```javascript
  app.controller("user",function($scope,tracking,$interval) {
    $scope.$watch = function() {
      tracking.event("watch");
    }
    $interval(function() {
      tracking.save();
    },5000);
  });
  ```
</script></section>

<section data-markdown><script type="text/template">
  ## hint: you'll want to mock out `$http`
</script></section>


<section data-markdown data-state=highlight><script type="text/template">
  ## First Angular test

  - exercises/first-test

</script></section>

<section data-markdown><script type="text/template">
  ## Testing controllers
</script></section>

<section data-markdown><script type="text/template">
  ## Setup
```javascript
  // this is similar for most controller tests
  beforeEach(inject(function($rootScope,$controller) {

    // a scope for us to use, can pass object to $new()
    $scope = $rootScope.$new({
      todos: []
    });

    // instantiate our controller
    controller = $controller('TodoForm',{
      $scope: $scope
    });

    // any watchers setup in constructor
    $scope.$apply();
  }));
```
</script></section>

<section data-markdown><script type="text/template">
  ## If your controllers don't talk to DOM...
</script></section>

<section data-markdown><script type="text/template">
  ## ...testing them is easy
</script></section>

<section data-markdown><script type="text/template">
  ```javascript
  // testing a controller method itself
  it('handles  submission', function() {
    controller.add({ message: "get milk" });
    expect($scope.todos).toContain({ message: "get milk" });
  });

  // testing a method controller adds to scope
  it("publishes a method that filters valid todos", function() {
    expect($scope.validTodo({ message: "" })).toBeFalse();
  });
  ```
</script></section>


<section data-markdown ><script type="text/template">
  ## Testing Directives
</script></section>

<section  data-markdown><script type="text/template">
  ## What's required?

  - compile a template containing our directive
  - get access to the `scope` so we can set data/fire events
  - check if directive worked
</script></section>

<section data-markdown ><script type="text/template">
  ## Setup

  ```javascript 
  var scope = $rootScope.$new({
    some: "data"
  });

  var createEl = $compile("<div><div notifications></div></div>");
  var el = createEl(scope);
  ```
</script></section>

<section data-markdown ><script type="text/template">
  ## Normal DOM unit-testing

  - jQuery is your friend - synthetic events etc

  ```javascript 
  it("reveals notification content", function() {

    expect(el.find(".notification-content.ng-hide").length)
      .toBe(0);

  });
  ```
</script></section>

<section data-markdown ><script type="text/template">
  ## Complete test

  ```javascript 
  it("reveals notification content on notify", 
    inject(function($rootScope, $compile, notifications) {

      var scope = $rootScope.$new({
        some: "data"
      });

      var createEl = $compile("<div><div notifications></div></div>");
      var el = createEl(scope);
      
      $rootScope.$broadcast("notify","something");
      
      expect(el.find(".notification-content.ng-hide").length)
        .toBe(0, "should be visible");

  }));
  ```
</script></section>


<section data-markdown><script type="text/template">
  
  ## Round-up

  - Have your code specialise via MVC
  - Bring your own model
  - Big HTML!
  - Controllers write to scope, views read
  - Services are a module system concept only
  - Test - it's easy

</script></section>

<section data-markdown><script type="text/template">
  
  ## Next steps

  - Rebuild TodoMVC, or other small CRUD project
  - Release a custom directive

</script></section>

<section data-markdown data-state=title><script type="text/template">
  
  # That's a wrap!

</script></section>

<section data-markdown data-state=highlight><script type="text/template">

  ## Thanks!

  <br />
  <br />
  <br />

  ### @timruffles

</script></section>


</div>
</div>

<script src="angular.js"></script>
<script src="demo.js"></script>
<script src="reveal/lib/js/head.min.js"></script>
<script src="reveal/js/reveal.min.js"></script>
<script>

  var hljsDeferred;
  var hljsPromise;
  var mdDeferred;
  var mdPromise;

  angular.injector(["ng"]).invoke(function($q) {
    hljsDeferred = $q.defer();
    hljsPromise = hljsDeferred.promise;
    mdDeferred = $q.defer();
    mdPromise = mdDeferred.promise;
  });

  Reveal.initialize({

    // Display controls in the bottom right corner
    controls: false,

    // Display a presentation progress bar
    progress: true,

    // Push each slide change to the browser history
    history: true,

    // Enable keyboard shortcuts for navigation
    keyboard: true,

    // Enable the slide overview mode
    overview: true,

    // Vertical centering of slides
    center: false,

    // Loop the presentation
    loop: false,

    // Change the presentation direction to be RTL
    rtl: false,

    // Number of milliseconds between automatically proceeding to the
    // next slide, disabled when set to 0, this value can be overwritten
    // by using a data-autoslide attribute on your slides
    autoSlide: 0,

    // Enable slide navigation via mouse wheel
    mouseWheel: false,

    // Apply a 3D roll to links on hover
    rollingLinks: false,

    // Transition style
    transition: 'linear', // default/cube/page/concave/zoom/linear/fade/none

    dependencies: [
        // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
        { src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },

        // Interreveal/pret Markdown in <section> elements
        { src: 'reveal/plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); }, callback: mdDeferred.resolve },

        // Syntareveal/x highlight for <code> elements
          { src: 'reveal/plugin/highlight/highlight.js', async: true, callback: function() { 
              hljs.initHighlightingOnLoad(); 
              hljsDeferred.resolve();
          } },

        // Zoom reveal/in and out with Alt+click
        { src: 'reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },

        // Speakreveal/er notes
        { src: 'reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },

        // Remotreveal/e control your reveal.js presentation using a touch device
        // { src: 'reveal/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]

  });

  Reveal.addEventListener( 'ready', function( event ) {
    angular.injector(["ng"]).invoke(function($q) {
      // bootstrap the slides after they've been markdown compiled
      $q.all([hljsPromise,mdPromise]).then(function() {
        angular.bootstrap(document.body,["slides"]);
        angular.injector(["ng","slides"]).invoke(function($compile,$rootScope) {
          [].forEach.call(document.querySelectorAll("section[data-markdown]"),function(slide) {
            $compile(slide)($rootScope)
          })
        })
      })
    })
  });
  
</script>
</body>
</html>
