.gallary img, .gallary .item {
  float: left;
  margin: 0.5rem;
}


.reveal .front h1 {
  font-size: 10rem;
}
.reveal .front .spaced {
  margin-top: 2rem;
  text-align: left;
}
.reveal .front a {
  font-size: 3rem;
  line-height: 1.25em;
  display: block;
}
