<!DOCTYPE html>
<html ng-app=exercise>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Angular Exercise</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../vendor/foundation/css/normalize.css" rel="stylesheet">
        <link href="../vendor/foundation/css/foundation.css" rel="stylesheet">
        <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8">

    </head>
    <body>
        <div class=row>

          <h1>AngularJS reddit stories</h1>

          <p class='alert-box success'>
            Plug in the `redditApi` factory to make this example come to life. You'll be using your knowledge of promises to expose a promise-based API.
          </p>

          <ul ng-controller="StoryCtrl">
            <li ng-repeat="story in stories">
              {{ story.title }}
              <a href="#" ng-click="story.expanded = true">
                Full
              </a>
              <ul ng-if="story.expanded">
                <li ng-repeat="comment in story.comments">
                  {{ comment.body }}
                </li>
              </ul>
            </li>
          </ul>

        </div>

        <script src="../vendor/underscore.js"></script>
        <script src="../vendor/angular/angular.js"></script>
        <script src="main.js"></script>
    </body>
</html>
